body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center ;
}

#current-day {
  color: #06aed5;
  text-shadow: 0 0 1px black;
  font-weight: 500;
  font-size: 20px;
}

textarea {
  background: transparent;
  border: solid 1px black;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

p {
  line-height: 2rem;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961 !important;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

footer {
  display: flex;
  justify-content: center;
}

#deleteBtn {
  border-radius: 15px;
  background-color: #06aed5;
  color: white;
  padding: 1% 2%;
  margin: 3%;
  border: 2px solid #007b97;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

#deleteBtn:hover {
  background-color: white;
  color: #06aed5;
}